* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

nav {
  padding: 0 70px;
  height: 80px;
  position: relative;
  z-index: 3; }
  nav ul {
    width: 400px;
    display: flex;
    justify-content: space-around;
    float: right; }
  nav li {
    float: left;
    line-height: 78px; }
  nav a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }

.video-bg {
  background: red;
  width: 100%;
  margin-top: -80px;
  position: relative;
  height: 600px; }
  .video-bg .vid {
    width: 100%;
    overflow: hidden;
    height: 600px;
    position: absolute;
    z-index: 1; }
  .video-bg video {
    margin-top: -80px;
    z-index: -1;
    width: 100%; }
  .video-bg .head-desc {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(177, 61, 52, 0.9);
    color: #fff;
    text-align: center; }
  .video-bg h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 200px;
    font-weight: 900; }
  .video-bg h2 {
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 20px; }

section {
  padding: 110px 90px 0; }
  section h2 {
    padding: 0 60px 10px 0;
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 6px solid rgba(177, 61, 52, 0.9);
    margin-bottom: 30px; }

.vd-sc .vd-list {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(177, 61, 52, 0.9); }
.vd-sc h4 {
  font-weight: 400;
  text-align: center;
  margin-top: 5px; }
.vd-sc li {
  margin-top: 20px; }
.vd-sc video {
  width: 400px;
  height: 225px; }
.vd-sc h3 {
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: 700; }
.vd-sc .trailer-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.mus-sc .mus-list {
  background: rgba(177, 61, 52, 0.9);
  padding: 40px; }
.mus-sc audio {
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 1px;
  margin-bottom: 30px; }
.mus-sc h4 {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 10px; }

.frm-sc form {
  width: 600px;
  margin: auto; }
.frm-sc input, .frm-sc select {
  border-radius: 8px;
  border: 1px solid rgba(177, 61, 52, 0.9);
  margin-top: 20px;
  outline: none;
  width: 560px;
  padding: 0 20px;
  height: 50px; }
.frm-sc select {
  width: 600px; }
.frm-sc .gend {
  height: 40px;
  margin-top: 20px; }
  .frm-sc .gend label {
    width: 80px;
    float: left;
    margin-right: 20px;
    line-height: 40px;
    height: 40px; }
  .frm-sc .gend input {
    margin-top: 10px;
    float: right;
    width: 20px;
    height: 20px; }
.frm-sc .btn {
  width: 600px;
  background: rgba(177, 61, 52, 0.9);
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  margin: 20px auto;
  display: block; }

footer {
  margin-top: 80px;
  color: #fff;
  padding: 40px 0 20px;
  background: rgba(177, 61, 52, 0.9); }
  footer .copy {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
